::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #888; }

::-webkit-scrollbar-thumb {
  background: rebeccapurple; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

body {
  font-family: "Roboto", sans-serif;
  background-color: transparent; }

.hidden {
  display: none; }

.user-img {
  border-radius: 100%;
  height: 40px;
  margin: 0 10px -1px 0;
  vertical-align: top;
  width: 40px; }

.comment-input {
  width: 500px;
  padding: 10px;
  height: 40px;
  resize: none;
  border-radius: 15px;
  outline: none;
  transition: all 0.3s; }

.comment-submit {
  background: darkgrey;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block !important;
  padding: 5px 10px;
  pointer-events: none;
  transition: all 0.65s; }
  .comment-submit:hover {
    background: #2d2d2d; }

.comment-footer {
  background: #d2d2d2;
  text-align: right;
  opacity: 0;
  padding: 5px;
  transition: all 0.5s; }

.chat {
  align-items: center;
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 20px);
  left: 10vw;
  opacity: 0.9;
  overflow-x: hidden;
  position: relative;
  width: 80vw; }
  @media only screen and (max-width: 768px) {
    .chat {
      width: 100%;
      left: 0; } }

@media only screen and (min-width: 450px) {
  .mobile {
    display: none !important; } }

.user-menu {
  border-radius: 100%;
  display: inline-block;
  background-color: #F1F1F4;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 8px;
  float: right;
  position: relative;
  top: 5px;
  right: 5px; }

.admin-msg {
  display: block;
  font-size: 13px;
  margin: 10px; }

.red {
  color: #ff3d27; }

.green {
  color: #498010; }

#member {
  margin: 0 5px 0 10px;
  display: inline; }

.whois {
  margin: 0 auto; }
  .whois input {
    display: block;
    margin: 10px;
    padding: 5px; }
    .whois input[type=text], .whois input[type=password] {
      width: 200px; }
    .whois input[type=submit] {
      padding: 10px; }
      .whois input[type=submit]:hover {
        cursor: pointer; }

#form-nickname {
  right: 0;
  position: relative;
  transition: all 0.65s; }

.login-area {
  left: 100vw;
  position: absolute;
  top: 48.5vh;
  transition: all 0.65s; }

.nick-submit {
  background-color: #000;
  border: 0;
  color: #fff;
  width: 213px; }

.peer2peer {
  display: none; }

.result {
  float: left;
  height: 89.5vh;
  overflow-x: auto;
  width: 67vw; }

.single-post {
  clear: left;
  margin: 10px; }
  .single-post .personal-data {
    display: inline;
    font-size: 14px; }
    .single-post .personal-data .timestamp {
      font-size: 10px; }
  .single-post .profile-pic {
    float: left;
    margin-right: 10px;
    width: 35px; }
    .single-post .profile-pic .fa-user {
      font-size: 35px; }
  .single-post .personal-message {
    word-break: break-word;
    font-size: 13px; }

.msg-area {
  background-color: #F1F1F4;
  border-radius: 10px;
  clear: left;
  margin: 10px;
  padding: 5px; }
  .msg-area + div {
    width: 10px; }
  .msg-area > div > div {
    left: -5px !important; }

.client-msg {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  height: 15px;
  margin-left: 40px;
  outline: none;
  padding: 15px; }
  .client-msg + a {
    left: 10px;
    width: 10px;
    top: 13px !important; }

.submit-msg {
  background-color: brown;
  border: 0;
  border-radius: 100%;
  color: #fff;
  float: right;
  font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0 10px 0 0;
  padding: 8px 10px;
  position: relative;
  bottom: 42px; }

.user-list {
  background-color: #F1F1F4;
  border-radius: 37px 0 0 37px;
  float: left;
  font-size: 13px;
  height: 87vh;
  overflow: auto;
  width: 13vw; }
  @media only screen and (max-width: 768px) and (min-width: 450px) {
    .user-list {
      width: 30vw; } }
  @media only screen and (max-width: 450px) {
    .user-list {
      clear: left;
      display: none;
      left: 3%;
      opacity: 0.8;
      top: 10px;
      position: absolute;
      width: 95%; } }
  .user-list .random-nickname {
    margin: 10px 0 0 54px; }
  .user-list .random-user {
    font-size: 32px;
    background: #b5b5b5;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    float: left;
    width: 50px; }
    .user-list .random-user .fa-user {
      vertical-align: middle;
      color: #2d2d2d; }
  .user-list .user-section {
    clear: left;
    padding: 2px 5px; }
    .user-list .user-section .status {
      border-radius: 100%;
      display: inline-block;
      height: 10px;
      margin-right: 5px;
      vertical-align: middle;
      width: 10px; }
    .user-list .user-section .offline {
      background: #ff1325; }
    .user-list .user-section .online {
      background: limegreen; }

.user-list-close {
  float: right;
  font-size: 20px;
  color: #F1F1F4;
  background-color: #ff3d27;
  padding: 5px 10px; }

.profile-pic {
  display: inline;
  width: 50px;
  border-radius: 100%;
  vertical-align: middle; }

.single-comment-area {
  background: #fff;
  color: #2d2d2d !important;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: left; }
  .single-comment-area span {
    color: #2d2d2d !important; }
  .single-comment-area .profile-pic {
    height: 40px;
    width: 40px; }

.comment-field {
  color: #2d2d2d !important;
  text-align: left; }

.msg-area div div {
  position: inherit !important;
  /*chin code */ }
  .msg-area div div html, .msg-area div div body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important; }

/**************************Navigation************************ */
a {
  text-decoration: none;
  color: #fff; }
  a:focus {
    color: #00BFFF; }

.email-info {
  color: #81DAF5; }

nav {
  width: 100%;
  height: 80px;
  background: #005a81;
  position: fixed;
  top: 0;
  z-index: 4; }

nav ul {
  float: right;
  list-style: none; }

nav ul li a {
  padding: 15px;
  line-height: 20px;
  background: #005a81;
  color: #FFF;
  text-decoration: none;
  display: block; }

.logo-zt {
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 250px; }

#nav-toggle {
  position: fixed;
  right: 20px;
  top: 33px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 5px;
  height: 5px;
  width: 35px;
  background: #FFF;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  transform: rotate(-45deg); }

#container-menu {
  position: fixed;
  top: 84px;
  right: 0px;
  z-index: 4;
  width: 233px; }

.nav-list {
  position: fixed;
  top: 10%;
  right: 0px;
  z-index: 4;
  display: none; }

/**************************Main Container************************ */
.main_container {
  background-image: url("../img/main_container.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  padding-bottom: 225px; }

#main h1 {
  color: #005a81;
  text-align: center;
  padding: 10% 15% 0 15%;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 900; }

.main_button {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 0px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  margin: 30px auto; }

.main_button:hover {
  background: #005a81; }

.anker {
  padding-bottom: 75px; }

#showbox {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0; }

/**************************Linking************************ */
#container-linking {
  width: 100%;
  position: relative; }

#container-linking h3 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  margin: 0px 0px 50px 0px; }

#container-linking p {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 1.5em; }

.linking_left {
  position: relative;
  width: 50%;
  height: 700px;
  float: left;
  background: url("../img/linking_character.png") top center no-repeat;
  background-size: cover;
  transition: 0.6s; }

.linking_right {
  position: relative;
  width: 50%;
  height: 700px;
  float: right;
  background: url("../img/linking_product.png") top center no-repeat;
  background-size: cover;
  transition: 0.6s; }

.linking_left:hover {
  background: url("../img/linking_character-hover.png") top center no-repeat;
  background-size: cover;
  transition: 0.6s; }

.linking_right:hover {
  background: url("../img/linking_product-hover.png") top center no-repeat;
  background-size: cover;
  transition: 0.6s; }

.overlay {
  background: RGBA(0, 90, 129, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.6s;
  padding: 20% 10%;
  box-sizing: border-box; }

.linking_left:hover .overlay {
  opacity: 1;
  transition: 0.6s; }

.linking_right:hover .overlay {
  opacity: 1;
  transition: 0.6s; }

/**************************Content************************ */
#content h2 {
  text-align: center;
  text-transform: uppercase;
  color: #3a98cc;
  font-weight: 900;
  font-size: 3em;
  margin: 50px 0px 50px 0px; }

.our_service {
  width: 100%;
  display: flex;
  justify-content: center; }

.service_container {
  width: 20%;
  border-radius: 5px;
  border: 2px solid #005a81;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  padding: 20px 0; }

.service_container h5 {
  color: #005a81;
  font-weight: bold;
  padding: 10px;
  font-size: 1.25em; }

.service_img {
  width: 75%;
  margin-top: 20px; }

.easy_text {
  color: #3c4d58;
  padding: 0px 17.5%;
  margin: 5% 5%;
  text-align: center;
  font-size: 1.25em; }

.our_partners {
  width: 100%;
  background-color: #3c4d58;
  padding-top: 1px; }

.partner_container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px; }

.partner_container img {
  padding: 20px; }

/**************************Footer************************ */
footer {
  width: 100%;
  padding: 50px;
  margin-top: 200px;
  color: #FFF;
  background-color: #3c4d58;
  font-size: 0.9em;
  box-sizing: border-box; }

footer h2 {
  line-height: 2; }

footer p {
  line-height: 1.5; }

.footer_description {
  width: 40%;
  float: left;
  margin: 5%; }

.footer_links {
  width: 40%;
  float: right;
  margin: 5%; }

.footer_links a {
  text-decoration: none;
  color: #FFF; }

.footer_copyright {
  margin: 0 0 0 5%; }

.logo_footer {
  width: 50%; }

.g-signin2 {
  position: relative;
  left: 25px; }

/*# sourceMappingURL=style.css.map */
